
#tableDiv{
	border-style: solid;
	border-width: 1px;
}

#rescaleTableButton{
	border-style: solid;
	border-color : gray;
	border-width: 1px;
	order-top-width : 3px;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	width: 20px;
	height: 25px;
	top : 0px;
	
}
.cellTextClass {
	fill: black;
}
.cellBackClass{
	fill: #f6f6f6;
}
.timetableRow{
	height: 10%;
}
.timetableCell{
	background-color: #f6f6f6;
	height: 10%;
	width: 16%;
	text-align: center;
}

.timetableCellCourse{
	fill: lightblue;
	text-align: center;
}

.timetableCellExercise{
	fill: #3f43a9;
	text-align: center;
}
