
#tableDiv{
	border-right-style: solid;
	border-right-width: 1px;
	float:left;
	padding:2px;
    margin: 5px;
	flex: 1 1 auto;
	width: 100%;
	height: 100%;
}


html, body {
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}


#rescaleTableButton{
	border-style: solid;
	border-color : gray;
	border-width: 1px;
	order-top-width : 3px;
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	width: 20px;
	height: 25px;
	top : 0px;

}
.spePlot{
	height: 100%;
	min-width: 50%;
	flex-grow: 1;
}
.detailsTile{
	order: 0;
	font-family: "Oswald";
	font-weight: bold;
	padding-bottom: 3px;
	font-style: normal;
	font-variant: normal;
	position: sticky;
	text-align: center;
}
.cellTextClass {
	color: black;
	position: fixed;
	z-index: 10;
	display: flex;
  	overflow: hidden;
  	flex-direction:column;
	justify-content: space-evenly;
	font-size: 5px;
	cursor: pointer;
}
.cellTextClass {
	color: black;
	position: absolute;
	z-index: 10;
  	align-items : center;
  	text-align: center;
  	overflow: hidden;
  	cursor: pointer;
}
.detailDiv{
	width: 100%;
	height: auto;
}
.cellBackClass{
	fill: #f6f6f6;
}
.timetableRow{
	height: 10%;
}
.timetable{
    height: 100%;
    width: 100%;
}
.timetableCell{
	background-color: #f6f6f6;
	height: 10%;
	width: 16%;
	text-align: center;
	cursor: pointer;
}
.timetableCell{
	background-color: #f6f6f6;
	height: 10%;
	width: 16%;
	text-align: center;
	cursor: pointer;
}

#table{
	float :left;
}
#insightDiv{
	background-color:#efefef;
	flex : 1 1 auto;
	flex-direction:row;
	height: auto;
	justify-content: space-evenly;
	display: flex;
	overflow-y: hidden;

}
.clickable{
	cursor: pointer;
}
.legendColorBox {
	padding-left: 0.7em;
	 padding-right:  0.7em;
	 margin: 0.5em;
	 cursor: pointer;
	 box-shadow: 3px 3px 5px #aaaaaa;
}
.starLine{
  stroke: #aaa;
  stroke-width: 2px;
  stroke-dasharray: 4 4;
}
.StarLabel{
	font-family: sans-serif;
	font-size: 0.7em;
	cursor: pointer;

}
.speSpanClass0{
	padding-right: 0.6em;
	padding-left: 0.6em;
	margin: 1em 1em;
	white-space: nowrap;
}
.speSpanClass{
	padding-right: 0.6em;
	padding-left: 0.6em;
	margin: 0.2em 0.2em;
	box-shadow: 2px 2px 5px #aaaaaa;

}
.credSumDiv{
	display: flex;
	flex-flow: column;
	text-align: center;
	justify-content: space-between;
	padding:5px;
	flex-grow: 1;
	flex-shrink: 1;
}
.smallFlexTitle{
	order :0;
	text-align: center;
	padding-left :0.5em;
	padding-right :0.5em;
	font-family: "Oswald";
	font-weight: bold;
}
.bigflexNumber{
	order :1;
	font-family: 'Montserrat', sans-serif;
    font-weight: bold;
	font-size: 5em;
	text-align: center;
}
#superflex{
	display: flex;
	flex-flow: column;
	height: 100%;
	overflow: hidden;
}
#subflex{
	flex : 2 1 auto;
	height: 500px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	display: flex;
	flex-flow: row;

}
#courseInfo{
	width: 40%;
	overflow-y:hidden;
	position: sticky;
	display: flex;
	order : 1;
	flex-direction:column;
	justify-content: flex-start;
	flex-grow: 1;
}

#courses{
	float: left;
	overflow-y:scroll;
	overflow-x:hidden;
	width: 100%;
}
.timetableCellCourse{
	fill: lightblue;
	text-align: center;
}
#listWrapper{
	order : 0;
	display: inline-block;
	height: auto;
	overflow-y:auto;
	overflow-x:hidden;
	flex-grow: 1;
	max-width: 25%;
}
.timetableCellExercise{
	fill: #3f43a9;
	text-align: center;
}
#courseListDiv{
	overflow:hidden;
	top : 0px;
	height: 490px;
	display: flex;
	flex-direction:row;

}
.descriptions{
	overflow-y: auto;
	order:3;
}
.conflicts{
	order:1;
	overflow-y: auto;
}
.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    z-index: 20;
}
.left{float:left;}
.right{float:right;}
.center{display: inline-block;
    margin:0 auto;}

/* Tooltip container */
.tooltip {
    position: relative;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color : rgba(51,51,51,0.9);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    max-width: 230px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 99999;
		top: 150%;
    left: 50%;
		margin-left: -50%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
    display: inline-block;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    max-width: 230px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}
.tooltipTitle{
	max-width: 100%;
	display: inline-block;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    position: absolute;
    z-index: 99999;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  width: 50%;
}

.titlesInfo {
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 0.9em
}
